<app-heading number="01." text="About me"></app-heading>
<div class="about">
    <div class="text">
        <p>Hello world 👋 </p>
        <p>My name is Ryan and I am Web Developer and University tutor from Adelaide, South Australia.</p>
        <p>I love making websites. To this day, it still blows my mind that I can write a bunch of code, sitting in my bedroom at home, and within minutes, it can be live on the internet for anyone in the world to see. There are not many professions where you have abilities like that.</p>
        <p>I also really enjoy teaching. I have been teaching at The University of Adelaide and love seeing the future generation of programmers start to write their first lines of code.</p>
        <p>Outside of all this, I am a keen rock climber, play wheelchair basketball and (try) to brew my own beer.</p>
    
    </div>
    <div class="image">
        <img src="./../../assets/me.png" alt="">
    </div>
</div>
