<app-socials data-aos="fade-in" data-aos-duration="1100" data-aos-delay="1000"></app-socials>
<app-email data-aos="fade-in" data-aos-duration="1100" data-aos-delay="1500"></app-email>
<app-header (notifyParent)="getNotification($event)"></app-header>
<div class="wrapper">
  <app-banner data-aos="fade-in" data-aos-duration="1100"></app-banner>
  <div class="space"></div>

  <app-about-me id="about"></app-about-me>
  <div class="space"></div>

  <app-work-experience id="experience"></app-work-experience>
  <div class="space"></div>

  <app-projects id="projects"></app-projects>
  <div class="space"></div>

  <app-contact></app-contact>
  <div class="space"></div>
</div>